/*--------------------------------------------------------NOSOTROS-----------------------------------------------------------*/
/*--------------------------------------------------------NOSOTROS-----------------------------------------------------------*/

.grid-container-nosotros {
    width: 100%;
    display: grid;
    justify-items: center;
    gap: 2em;    
    grid-template-areas:
    "header header"
    "nosotros-text nosotros-text"
    "abril martin"
    "footer footer";
    grid-template-columns: 1f 1f;
    grid-template-rows: auto 400px auto auto;
 }


.main__textos-info {    
    width: 100%;
    grid-area: nosotros-text;
    color: #fff;    
    display: flex; 
    flex-direction: column;
    justify-content: space-between;       
    text-align: center;
    padding: 1em;       
    font-family: 'Rubik', sans-serif; 
    user-select: none;
}

.main__textos-info__p1 {             
    font-size: 6em;
}

.main__textos-info__p2 {    
    font-size: 1.2em;
}

.main__textos-info__p3 {
    font-size: 4em;
}


.main-container__cards__tarjeta-abri {
    color: #fff;    
    width: 80%;
    text-align: center;
    grid-area: abril;
    background-color: rgb(106, 1, 138);
    padding: 1em 0;
    border-radius: 25px;    
    transition: .3s;
    user-select: none;
}

.main-container__cards__tarjeta-abri:hover {
    box-shadow: 0 0 20px rgb(150, 2, 200);
}

.main-container__cards__tarjeta-martin {
    display: flex;
    flex-direction: column;   
    color: #fff;    
    width: 80%;   
    text-align: center;
    grid-area: martin;
    background-color: rgb(8, 4, 131);
    padding: 1em 0;
    border-radius: 25px;
    transition: .3s;
    user-select: none;
}

.main-container__cards__tarjeta-martin:hover {
    box-shadow: 0 0 20px rgb(16, 8, 162);
}

.main-container__cards-h2 {
    font-size: 2em;          
}

.main-container__cards-img {
    padding: 1em 0;
    width: 70%;
}

.main-container__cards-p {
    padding: 1em 1em;
    font-size: 0.9em;
    font-weight: 200;
}
/*--------------------------------------------------------/NOSOTROS-----------------------------------------------------------*/
/*--------------------------------------------------------/NOSOTROS-----------------------------------------------------------*/

/*--------------------------------------------------------SERVICIOS-----------------------------------------------------------*/
/*--------------------------------------------------------SERVICIOS-----------------------------------------------------------*/

.main-container-card1 {
    grid-area: c1;
}
.main-container-card2 {
    grid-area: c2;
}
.main-container-card3 {
    grid-area: c3;
}
.main-container-card4 {
    grid-area: c4;
}

.grid-container-servicios {   
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-areas: 
    "header header"
    "c1 c2"
    "c3 c4"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 80px;
}

.main-container-card1, .main-container-card2, .main-container-card3, .main-container-card4 {        
        display: flex;
        justify-items: center;
        color: #fff;
        background-color: rgb(20, 20, 20);
        margin: 1em;        
        font-family: 'Rubik', sans-serif;
        text-align: center;     
        align-items: center;
        border-radius: 10px; 
        transition: .3s;
        user-select: none;
}

.main-container-card1, .main-container-card2, .main-container-card3, .main-container-card4 p {
    padding-right: 1em;
}

.main-container-card1:hover {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgb(40, 40, 40);
    transform: scale(1.02);
}

.main-container-card2:hover {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgb(40, 40, 40);
    transform: scale(1.02);
}

.main-container-card3:hover {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgb(40, 40, 40);
    transform: scale(1.02);
}

.main-container-card4:hover {
    background-color: rgb(30, 30, 30);
    box-shadow: 0 0 10px rgb(40, 40, 40);
    transform: scale(1.02);
}

.main__container-services--cards p {
    margin-right: 0.5em;   
}

.main-container-card__s1 {
    padding: 0.5em;
}

.main-container-card__s1 h2 {
    padding: 0.5em 0;
    font-weight: 400;    
    border-top: 1px solid #fff;    
}

.main-container-card__s1 img {    
    height: 20em;
    padding: 0.5em;
}

.main-container-card__s1 input {
    width: 50%;
    background-color: rgb(130, 130, 130);
    font-size: 1em;
    font-weight: 700;    
    padding: 0.5em 0;
    margin: 1em 0;
    font-family: 'Rubik', sans-serif; 
    transition: .3s;
    cursor: pointer;   
}

.main-container-card__s1 input:hover {
    background-color: rgb(200, 200, 200);
}

/*--------------------------------------------------------/SERVICIOS-----------------------------------------------------------*/
/*--------------------------------------------------------/SERVICIOS-----------------------------------------------------------*/

/*--------------------------------------------------------NOVEDADES-----------------------------------------------------------*/
/*--------------------------------------------------------NOVEDADES-----------------------------------------------------------*/

.grid-container-novedades {    
    width: 100%;
    height: 100%;  
    justify-items: center;  
    display: grid;    
    grid-template-areas:
    "header"
    "n1"
    "n2"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 80px 1fr 1fr 80px;
}

.main-container-n1 {
    grid-area: n1; 
    background-color: rgb(25, 25, 25);   
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em 2em;
    font-family: 'Rubik', sans-serif;    
    border-bottom: 1px solid #fff;
}

.main-container-n1 h2 {
    margin: 1em 0;
}

.main-container-n1 img {
    width: 25em;
}

.main-container-n1 p {
    padding: 5em;
}

.main-container-n2 {
    grid-area: n2;
    background-color: rgb(25, 25, 25);
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em 2em;
    font-family: 'Rubik', sans-serif;     
    border-top: 1px solid #fff;
}

.main-container-n2 h2 {
    margin: 1em 0;
}

.main-container-n2 img {
    width: 25em;
}

.main-container-n2 p {
    padding: 5em;
}

/*--------------------------------------------------------/NOVEDADES-----------------------------------------------------------*/
/*--------------------------------------------------------/NOVEDADES-----------------------------------------------------------*/

/*--------------------------------------------------------CONTACTO-----------------------------------------------------------*/
/*--------------------------------------------------------CONTACTO-----------------------------------------------------------*/

.grid-container-contacto {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "main-contacto"
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 80px auto 80px;
}

.main-container-contacto {     
    grid-area: main-contacto;
    display: flex;
    background-image: url(../img/contacto/background.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;  
    user-select: none;
}

.main-container-contacto__s1 {    
    text-align: center;
    padding-top: 7em;
    width: 50%;    
}

.main-container-contacto__s1 p {
    font-size: 1.5em;
    color: #fff;
}

.main-container-contacto__s1 h1 {          
    font-size: 6em;
    padding-top: 0.5em;
    text-shadow: 0px 0px 2px #fff;
}

.main-container-contacto__s2 {    
    width: 50%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4em 0;
}

.main-container-contacto__s2 input {
    width: 60%;
    height: 3em;
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0 1em;
    background-color: rgba(255, 255, 255, .7);
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.main-container-contacto__s2 input:focus{
    transform: scale(1.03);
}

.main-container-contacto__s2 p {
    font-size: 2em;
    color: #fff;    
}

.botonCon {
    cursor: pointer;
    width: 45%;
    height: 2.5em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    background-color: rgba(255, 255, 255, .7);
    border: none;
    border-radius: 5px;
    transition: .3s;
}

.botonCon:hover {
    transform: scale(1.03);
    background-color: rgba(168, 230, 255, 0.7) ;
}

.main-container-contacto__s2 textarea {
    width: 60%;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, .7);
    resize: none;
    margin: 1em 0;
    font-family: 'Rubik', sans-serif;
    padding: 0 1em;    
    transition: .2s;
    border-radius: 5px;
}

.main-container-contacto__s2 textarea:focus {
    transform: scale(1.03);
}

/*--------------------------------------------------------/CONTACTO-----------------------------------------------------------*/
/*--------------------------------------------------------/CONTACTO-----------------------------------------------------------*/