.footer {
    grid-area: footer;
    width: 100%;
}
.footer__content {    
    height: 5em;    
    display: flex;    
    background-color: $clr-grisOscuro2;    
    align-items: center; 
    list-style: none;
    justify-content: space-evenly;                
}

.footer__content--h2 {    
    color: rgb(227, 226, 228);
    font-family: $ff-rubik;  
    justify-self: center;
    user-select: none;
}

.footer__content--facebook li, .footer__content--twitter li, .footer__content--wsp li{
    transition: 0.3s;
}

.footer__content--facebook li:hover {
    transform: scale(1.06);
}
.footer__content--twitter li:hover {
    transform: scale(1.06);
}
.footer__content--wsp li:hover {
    transform: scale(1.06);
}

.footer__content--facebook li a {
    color: $clr-fb;     
    font-size: 3em;
    filter: drop-shadow(0px 0px 15px $clr-fb);      
}

.footer__content--twitter li a {
    color: $clr-tw;
    font-size: 3em;
    filter: drop-shadow(0px 0px 15px $clr-tw)    
}

.footer__content--wsp li a {
    color: rgb(37 211 102);
    font-size: 3em;
    filter: drop-shadow(0px 0px 15px $clr-wsp);
}