//HEADER
@media screen and (max-width: 890px) {
    nav {
        min-height: 4em;
        width: 100%;
    }

    .logo {
        width: 3em;
        position: absolute;
        left: 0;
    }

    .ham {
        display: block;
        position: absolute;
        right: 2em;
        transition: .2s .1s;
    }

    .ham span {
        height: 3px;
        width: 30px;
    }

    .ham:hover {
        transform: rotate(360deg);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1em 0;
    }

    .enlaces {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 20em;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
        & li {
            width: 100%;
            text-align: center;
            &:hover {
                background-color: $clr-grisOscuro4;  
            }
        }
    }
}
//HEADER

//INDEX

@media screen and (max-width: 480px) {   
    /*section1*/
    .main-index-section1 {
        width: 100%;
        padding-top: 2em;  
        padding-bottom: 2em;        
    }
    .main__section1--titulo1 {
        font-size: 4em;
    }
    .main__section1--titulo2 {
        font-size: 1.5em;        
    }
    .main__section1--texto-intro {
        font-size: 1.2em;
        padding: 0 2em;
    }
    /*section2*/
    .main-index-section2 {
        width: 100%;        
    }   
    .main__section2--texto1 {
        font-size: 1.5em;
        margin: 1.5em 1em;
    }
    /*section3*/
    .main-index-section3 {
        width: 100%;
    }
    .main__section2__cards__card {
        width: 80%;
        height: auto;        
    }
    .main__section2__cards__card i {
        font-size: 2.5em;
    }
    /*section4*/
    .main-index-section4 {
        width: 100%;        
    }
    .main__section3--texto1 {
        font-size: 1.5em;
        margin: 1.5em 1em;
    }
    /*section5*/
    .main-index-section5 {
        width: 100%;
        flex-wrap: wrap;
    }
    .main__section3--cards__card {
        width: 80%;
        height: auto;
        margin: 1em;
        padding: 1em;
    }

    /*---------------------------*/
    .footer__content--h2 {
        font-size: 0.6em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.6em;
    }
}

@media screen and (min-width: 481px) and (max-width: 890px) {

    /*section1*/
    .main-index-section1 {
        width: 100%;
        padding-top: 2em;  
        padding-bottom: 2em;        
    }
    .main__section1--titulo1 {
        font-size: 6em;
    }
    .main__section1--titulo2 {
        font-size: 1.7em;        
    }
    .main__section1--texto-intro {
        font-size: 1.3em;
        padding: 0 2em;
    }
    /*section2*/
    .main-index-section2 {
        width: 100%;        
    }   
    .main__section2--texto1 {
        font-size: 2em;
        margin: 1.5em 1em;
    }
    /*section3*/
    .main-index-section3 {
        width: 100%;
    }
    .main__section2__cards__card {
        width: 80%;
        height: auto;        
    }
    .main__section2__cards__card i {
        font-size: 2em;
    }
    .main__section2__cards__card--texto {
        font-size: 1em;
    }
    /*section4*/
    .main-index-section4 {
        width: 100%;        
    }
    .main__section3--texto1 {
        font-size: 2em;
        margin: 1.5em 1em;
    }
    /*section5*/
    .main-index-section5 {
        width: 100%;
        flex-wrap: wrap;
    }
    .main__section3--cards__card {
        width: 80%;
        height: auto;       
    }
    .main__section3--cards__card--texto {
        font-size: 1em;
    }
    .main__section3--cards__card i {
        font-size: 2em;
    }

    /*----------------------------------------*/
    .footer__content--h2 {
        font-size: 0.8em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.8em;
    }
}
//INDEX

//NOSOTROS

@media screen and (max-width: 480px) {

/*MAQUETADO-GRID*/
    .grid-container-nosotros {
        grid-template-areas:
        "header"
        "nosotros-text"
        "abril"
        "martin"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 80px 400px auto auto 80px;
    }
/*FIN-MAQUETADO-GRID*/

    .main__textos-info__p1 {             
        font-size: 1.5em;
    }

    .main__textos-info__p2 {    
        font-size: 0.8em;
    }

    .main__textos-info__p3 {
        font-size: 1.5em;
    }

    .main-container__cards-p {
        font-size: 0.6em;
        padding: 0 1em;
    }

    .main-container__cards__tarjeta-abri{
        width: 90%;
    }
    .main-container__cards__tarjeta-martin{
        width: 90%;
    }

    .footer__content--h2 {
        font-size: 0.6em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.6em;
    }
}

@media screen and (min-width: 481px) and (max-width: 890px) {

    .main__textos-info__p1 {             
        font-size: 2.5em;
    }

    .main__textos-info__p2 {    
        font-size: 0.8em;
    }

    .main__textos-info__p3 {
        font-size: 2.5em;
    }

    .main-container__cards__tarjeta-abri{
        width: 90%;
    }
    .main-container__cards__tarjeta-martin{
        width: 90%;
    }
    .main-container__cards-p {
        font-size: 0.7em;
        padding: 0 1em;
    }

    .footer__content--h2 {
        font-size: 0.8em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.8em;
    }
}
//NOSOTROS

//SERVICIOS

@media screen and (max-width: 480px) {

/*MAQUETADO-GRID*/
    .grid-container-servicios {
        width: 100%;
        grid-template-areas:
        "header"
        "c1"
        "c2"
        "c3"
        "c4"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    }
/*FIN-MAQUETADO-GRID*/

    .main-container-card1, .main-container-card2, .main-container-card3, .main-container-card4 {
        flex-direction: column;     
    }

    .main-container-card__s1 input {
        font-size: 1em;
        width: 70%;
    }

    .main-container-card__s1 img {    
        height: 10em;
        padding: 0.5em;
    }
    .main-container-card1 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card2 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card3 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card4 p{
        font-size: 0.8em;
        margin: 1em;
    }   
 
    .footer__content--h2 {
        font-size: 0.6em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.6em;
    }
}
@media screen and (min-width: 481px) and (max-width: 890px) {

    /*MAQUETADO-GRID*/
    .grid-container-servicios {
        width: 100%;
        grid-template-areas:
        "header"
        "c1"
        "c2"
        "c3"
        "c4"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    }
    /*MAQUETADO-GRID*/

    .main-container-card1 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card2 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card3 p{
        font-size: 0.8em;
        margin: 1em;
    }
    .main-container-card4 p{
        font-size: 0.8em;
        margin: 1em;
    }   


    .footer__content--h2 {
        font-size: 0.8em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.8em;
    }
}
//SERVICIOS

//NOVEDADES
@media screen and (max-width: 480px) {

    .grid-container-novedades {        
        width: 100%;               
    }
    .main-container-n1 {
        width: 100vw;
        height: 100%;
        flex-direction: column;    
        padding: 0;                  
    }
    .main-container-n1 h2 {
        margin: 0;                      
    }
    .main-container-n1 img {
        width: 12em;
        padding: 0.5em;
    }
    .main-container-n1 p {
        padding: 2em 1em;
        font-size: 1em;        
    }
    .main-container-n2 {
        width: 100vw;
        height: 100%;
        flex-direction: column;    
        padding: 0;                                    
    }
    .main-container-n2 h2 {
        margin: 0;        
    }

    .main-container-n2 img {
        width: 12em;
        padding: 0.5em;
    }
    .main-container-n2 p {
        padding: 2em 1em;
        font-size: 1em;
    }    
    .footer__content--h2 {
        font-size: 0.6em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.6em;
    }
}
    @media screen and (min-width: 481px) and (max-width: 890px) {

        .grid-container-novedades {            
            width: 100%;        
        }
        .main-container-n1 {
            width: 100vw;
            height: 100%;
            flex-direction: column;    
            padding: 0;                   
        }
        .main-container-n1 h2 {
            margin: 0;                      
        }
        .main-container-n1 img {
            width: 15em;
            padding: 0.5em;
        }
        .main-container-n1 p {
            padding: 2em 1em;
            font-size: 1em;
            
        }
        .main-container-n2 {
            width: 100vw;
            height: 100%;
            flex-direction: column;    
            padding: 0;                                    
        }
        .main-container-n2 h2 {
            margin: 0;        
        }
    
        .main-container-n2 img {
            width: 15em;
            padding: 0.5em;
        }
        .main-container-n2 p {
            padding: 2em 1em;
            font-size: 1em;
        }    
        /*----------------------------------------*/
        .footer__content--h2 {
            font-size: 0.8em;
        }
        .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
            font-size: 0.8em;
        }
    }
//NOVEDADES

//CONTACTO
@media screen and (max-width: 480px) {    

    .main-container-contacto {
        flex-direction: column;        
        width: 100%;       
        height: 100%;             
    }

    .main-container-contacto__s1 {
        width: 100%;
        padding: 3em 0;
    }
    .main-container-contacto__s1 p {
        font-size: 1em;
    }
    .main-container-contacto__s1 h1 {
        font-size: 3.5em;        
    }


    .main-container-contacto__s2 {
        width: 100%;
    }
    .main-container-contacto__s2 p {
        font-size: 1em;
    }
    .main-container-contacto__s2 input {
        height: 2em;
        font-size: 1em;
    }
    .main-container-contacto__s2 textarea {
        font-size: 1em;
    }

    /*---------------------------*/
    .footer__content--h2 {
        font-size: 0.6em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.6em;
    }
}

@media screen and (min-width: 481px) and (max-width: 890px) {

    .main-container-contacto {
        flex-direction: column;
        width: 100%;       
        height: 100%;
    }

    .main-container-contacto__s1 {
        width: 100%;
        padding: 3em 0;
    }
    .main-container-contacto__s1 p {
        font-size: 1.2em;
    }
    .main-container-contacto__s1 h1 {
        font-size: 5em;        
    }


    .main-container-contacto__s2 {
        width: 100%;
    }
    .main-container-contacto__s2 p {
        font-size: 1.2em;
    }
    .main-container-contacto__s2 input {
        height: 2.5em;
        font-size: 1em;
    }
    .main-container-contacto__s2 textarea {
        font-size: 1em;
    }

    /*----------------------------------------*/
    .footer__content--h2 {
        font-size: 0.8em;
    }
    .footer__content--facebook, .footer__content--twitter, .footer__content--wsp{
        font-size: 0.8em;
    }
}
//CONTACTO


//404

@media screen and (max-width: 480px) {

    .main-404-1 {
        justify-content: center;              
    }
    .main-404-1 h2{
        font-size: 6em;        
    }

    .main-404-1 p {
        font-size: 1.3em;
        padding: 0.5em 1em;
    }

    .main-404-1 img {
        width: 8em;
    }
}

@media screen and (min-width: 481px) and (max-width: 890px) {
    
    .main-404-1 {
        justify-content: center;        
    }
    
    .main-404-1 h2 {
        font-size: 7em;        
    }

    .main-404-1 p {
        font-size: 1.5em;
    }

    .main-404-1 img {
        width: 10em;
    }
}