$clr-negro: rgb(0, 0, 0);
$clr-blanco: rgb(255, 255, 255);

$clr-grisOscuro1: rgb(12, 12, 12);
$clr-grisOscuro2: rgb(20, 20, 20);
$clr-grisOscuro3: rgb(25, 25, 25);
$clr-grisOscuro4: rgb(30, 30, 30);
$clr-grisOscuro5: rgb(40, 40, 40);

$clr-grisClaro: rgb(130, 130, 130);
$clr-grisClaro2: rgb(138, 138, 138);

$clr-fb: rgb(71, 59, 240);
$clr-tw: rgb(29, 161, 242);
$clr-wsp: rgb(37, 211, 102);

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300;1,500&display=swap');

$ff-rubik: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

$ff-nuosu: 'Nuosu SIL', serif;
